.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    flex: 0 1 24%;
    padding: 50px;
    box-sizing: border-box;
    margin: 1rem .25em;


  }

.card:hover {
    transform: translateY(-8px);
    --box-shadow-color: #d15c19;
    box-shadow: 0 10px 10px -10px var(--box-shadow-color);

}

h2 {
    padding: 10px;
}

img {
    border-radius: 100%;
    border: 10px;
    border-color: blue;

}

.title {
    color:rgb(241,93,36);
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(241,93,36);;
    padding: 10px;
}

.links{
    display: inline-block;
    color: rgb(241,93,36);
}

.iconLink {
  text-decoration: none;
  font-size: 30px;
  color: rgb(241,93,36);;
  padding: 10px;
}

.iconLink:visited {
  color: rgb(51, 153, 255);
}
