body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.sponsors {
	text-align: center;
	padding-bottom: 10%;
}
.highsponsors {
	text-align: center;
}
.sponsors img {
	max-height: 100px;
	width: auto;
	padding: 10px;
	max-width: 100%;
}

.highsponsors img {
	max-height: 170px;
	width: auto;
	padding: 10px;
	max-width: 100%;
}

.fc {
	margin-bottom: 20px;
}
